*.pyc
*.jpg

assigment4_ttk4192/scripts/utils/__pycache__/*.*
assigment4_ttk4192/scripts/utils/__pycache__/astar.cpython-38.pyc
assigment4_ttk4192/scripts/utils/__pycache__/car.cpython-38.pyc
assigment4_ttk4192/scripts/utils/__pycache__/cases.cpython-38.pyc
assigment4_ttk4192/scripts/utils/__pycache__/environment.cpython-38.pyc
assigment4_ttk4192/scripts/utils/__pycache__/grid.cpython-38.pyc
assigment4_ttk4192/scripts/utils/__pycache__/intersection.cpython-38.pyc
assigment4_ttk4192/scripts/utils/__pycache__/obstacle.cpython-38.pyc
assigment4_ttk4192/scripts/utils/__pycache__/utils.cpython-38.pyc
assigment4_ttk4192/scripts/trajectory.csv
